/*Gabriele Resconi 4AI stylesheet.css*/

body {

    background-image: url("imgs/homePage_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.click-menu .box1,
.click-menu .box1-hover,
.click-menu .box1-open,
.click-menu .box1-open-hover {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    font-family: arial;
    cursor: pointer;
    padding: 10px;
    width: 150px;
}
.click-menu .section {
    background-color: #fdff71;
    font-family: arial;
    font-size: 15px;
    line-height: 15px;
    padding: 0 0 5px 10px;
    display: none;
}
.click-menu .section a {
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}
.click-menu .section a:hover {
    color: #ff0000;
    text-decoration: none;
    white-space: nowrap;
}
.click-menu .box2 {
    border-color: #7B6139;
    border-width: 2px;
    border-style: none none solid solid;
    padding: 1px 0 2px 6px;
}
.click-menu .box2-hover {
    border-color: #7B6139;
    border-width: 1px;
    border-style: none none solid solid;
    padding: 1px 0 2px 6px;
    background: #5B4529;
}
.click-menu {
    background-color: #FFFF99;
    text-indent: 20px;
    margin: 100px 100px 10px 20px; 
    width: 100px;
    height: 100px;
    border-style: solid;
}